*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;

    --tt: rgba(0, 0, 2, 0.49);
    --bg-tt: rgba(0, 0, 2, 0.09);
    --brd-tt: rgba(0, 0, 2, 0.07);

    --tw: rgb(142, 8, 172, 0.49);
    --bg-tw: rgb(142, 8, 172, 0.09);
    --brd-tw: rgb(142, 8, 172, 0.07);

    --pt: rgb(255, 0, 0, 0.49);
    --bg-pt: rgb(255, 0, 0, 0.09);
    --brd-pt: rgb(255, 0, 0, 0.07);

    --fc: rgba(0, 0, 254, 0.49);
    --bg-fc: rgba(0, 0, 254, 0.09);
    --brd-fc: rgba(0, 0, 254, 0.07);
  }


body{
    background: var(--body-bg-color) no-repeat top center;
    height: 100vh;
}

body *{
    font-family: 'Roboto', sans-serif;
}


#container{
   
    width: 100%;
    max-width: 414px;
    height: 896px;

    margin: 0px auto;
}

#girl{
    display: flex;
    width: 213px;

    text-align: center;
    justify-content: center;

    padding: 6px 7px 6px 7px;
    border: solid 2px #BB99DD;
    border-radius: 100%;

    margin: 120px 100px 15px 101px;

}


#girl img{
    width: 200px;
}

#container{
    text-align: center;
    justify-content: center;
}

#container p{
    color: var(--purple);
    font-weight: 700; 
}



#container ul{

    display: flex;
    flex-direction: column;

    justify-content: center;

    width: 326px;
    height: 244px;
    
    gap: 16px;
    list-style: none;

    margin: 33px 44px 68px;
    
    
}




#container ul li a{

    display: flex;
    padding: 16px 0px;
    border-radius: 4px;

    text-decoration: none;
    justify-content: center;

    border: solid 1px #BB99DD;
    color: var(--purple);

    font-weight: 900;

    transition: 0.4s;
}

#container ul li a:hover{
    border: solid 1px #343435;
    color: #393939;

    transition: 0.4s;
}



#links{
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 12px;
 
    width: 310px;
    margin: 70px auto 157px;
}

#links a{
    display: flex;
    border-radius: 100%;

    padding: 12px;
    font-size: 25px;
}


/*LINKS COLORS*/
#tt{
    color: var(--tt);
    background: var(--bg-tt);
    border: solid 1px var(--brd-tt);
    transition: 0.6s;
}
#tw{
    color: var(--tw);
    background: var(--bg-tw);
    border: solid 1px var(--brd-tw);
    transition: 0.6s;
}
#pt{
    color: var(--pt);
    background: var(--bg-pt);
    border: solid 1px var(--brd-pt);
    transition: 0.6s;
}
#fc{
    color: var(--fc);
    background: var(--bg-fc);
    border: solid 1px var(--brd-fc);
    transition: 0.6s;
}

/*LINKS COLORS HOVER*/
#tt:hover{
    color: rgba(0, 0, 2, 0.89);
    background: rgba(0, 0, 2, 0.19);
    border: solid 1px rgba(0, 0, 2, 0.539);
    transition: 0.6s;
}
#tw:hover{
    color: rgb(142, 8, 172, 0.69);
    background: rgb(142, 8, 172, 0.19);
    border: solid 1px rgb(142, 8, 172, 0.539);
    transition: 0.6s;
}
#pt:hover{
    color: rgb(255, 0, 0, 0.69);
    background: rgb(255, 0, 0, 0.19);
    border: solid 1px rgb(255, 0, 0, 0.539);
    transition: 0.6s;
}
#fc:hover{
    color: rgba(0, 0, 254, 0.69);
    background: rgba(0, 0, 254, 0.19);
    border: solid 1px rgba(0, 0, 254, 0.539);
    transition: 0.6s;
}





 