*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }


body{
    background: var(--body-bg-color) no-repeat top center;
}

body *{
    font-family: 'Roboto', sans-serif;
}


#container{
    border: solid 1px red;
    width: 414px;
    height: 896px;

    margin: 0px auto;
}

#container ul{
    border: solid 1px red;

    display: flex;
    flex-direction: column;

    width: 326px;
    height: 244px;
    
    gap: 16px;
    list-style: none;

    margin: 405px 44px 247px;
    
    
}




#container ul li a{

    display: flex;
    padding: 16px 0px;

    text-decoration: none;
    justify-content: center;

    border: solid 1px #BB99DD;
    color: var(--purple);

    font-weight: 900;
}





 